<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/登录注册表?useUnicode=true&amp;characterEncoding=utf-8</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="show_sql">true</property>
        <property name="connection.username">root</property>
        <property name="connection.password">Oushile123.</property>
        <mapping class="MySQL.用户表Entity"/>
        <mapping resource="PO/User.hbm.xml"/>
    </session-factory>
</hibernate-configuration>